#root{
    background-color: #2f4353;
    background-image: linear-gradient(315deg, #2f4353 0%, #d2ccc4 74%);
}
/* NAVBAR */
nav{
position: relative;
background-color: rgb(0, 0, 0);
z-index: 1000;
margin-top: 0;
}

nav ul li a{
    color: white;
    z-index: 2000;
    position: relative;
}
#logo{
    position: absolute;
    z-index: 1000;
 
}
#mobile-nav{
    z-index: 3000;
}
@media (min-width: 991px) {
    #logo{
        width: 20%; 
        margin: 0 40%; 
    }
  
 }

/* HOME */

.presentation{
    position: relative;
    margin-top: 2%;
}
.presentation img{
    width: 100%;
}

/* MENU */
.menu{
    position: fixed;
    z-index: 1000;
}
.linkMenu{
    background-color: rgb(0, 0, 0, 0.8);
    color: white;
    padding: 10%;
    text-align: left;

}
.linkMenu a{
    color: aliceblue;
}

.linkMenu:hover{
    transform: scale(1.03);
    transition: 200ms;
    background-color: rgba(0, 0, 0, 0.652);

}

.linkMenu-disable{
    background-color: rgb(0, 0, 0, 0.8);
    color: white;
    padding: 10%;
    text-align: left;

}

.linkMenu-disable a{
    pointer-events: none;
    color: rgb(223, 40, 40);
}
@media (max-width: 890px) {
    .menu{
        top:10%;
        left: 70%;
    }
    .linkMenu{
        width: 200px;
    
    }
 }
@media (min-width: 891px) {
    .menu{
        top:20%;
        left: 85%;
    }
    .linkMenu{
        width: 200px;
    
    }
 }

/* VERSIONS */
.choiseVersion{
    display: flex;
    flex-flow: row wrap;
   justify-content: space-around; 
   margin-top: -38%;
   left: 0;
   right: 0;
}



/* DRIVING */

.equipmentName{
    font-weight: bold;
}
.itemDriving img{
    width: 100%;
}
.deleteInncustom{
    margin-top: -10%;
}
/* SELECTED */

.selected{
    transform: scale(1.12);
}
.optSelected{
    background-color: rgba(0, 0, 0, 0.2);
    text-align: center;
    color: white;
    margin-bottom: 2%;
    border-bottom: 1px solid white;
    padding: 1%;
}
/* anthony */

.custom-color-select{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    text-align: center;
}

.custom-color-select img{
    width: 100%;
    cursor: pointer;
    margin-bottom: 10px;
    border: black 1px solid;
    border-radius: 10px;
}

.custom-color-select img:hover{
    cursor: pointer;
}

.select-car-please{
   text-align: center;
}

.car-name{
  text-align: center;

}
.next-step{
    display: flex;
    flex-direction: row-reverse;
    padding-top: 2%;
    padding-right: 30px;
}

/* .carrousel-select{
    margin-bottom: 30px;
} */

/* COLOR */
.color-carousel{
    width: 60%;
    margin: 0 auto;
}
.color-carousel img{
    width: 100%;
}
/* RIMS */


.custom-rims-select img{
    width: 80%;
    cursor: pointer;
    margin-bottom: 10px;
    border: black 1px solid;
    border-radius: 10px;
    text-align: center;
}
.rims-carousel{
    width: 50%;
    margin: 0 auto;
}
.containerButton{
    margin-top: 2%;
    margin: 2%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

/*SEALING*/

.sealing-carousel{
    width: 60%;
    margin: 0 auto;
}

.sealing-carousel img{
    width: 100%;
}
/* INNCUSTON */
.inncustom-carousel{
    width: 100%;
    height: 500px;
    margin: 0 auto;
}
.inncustom-carousel img{
    width: 100%;
    height: 500px;
}
/* anthony*/

.configurator .presentation-version{
    position: relative;
    color: blanchedalmond;
    display: flex;
    justify-content: center;
    margin-bottom: -20%;
    padding-top: 10%;
    z-index: 2;
    font-family: 'Hall Fetica Narrow Italic', sans-serif;
    font-size: 60px;
    }

    .start-config-button{
        position: relative;
        display: flex;
        justify-content: center;
        margin-top: -10%;
        z-index: 4;
    }

    .start-config-button button{
        
        z-index: 4;
       
        background-color: blanchedalmond;
        color: black;
        font-family: 'Hall Fetica Narrow Italic', sans-serif;
        font-size: 24px;

    }

    .start-config-button button:hover{
       background-color: rgb(49, 49, 49);
       color: blanchedalmond;
       transition: 300ms;
       transform : scale(1.05);
    }
    .presentation-info{

    font-family: 'Hall Fetica Narrow Italic', sans-serif;
    padding-left: 40px;
    margin-top: 20px;

    }
    .margin-config{
        margin-top: 10%;
    }
    .border-clean{
        border-top: grey 1px solid;
        width: 50%;
        margin-bottom: 40px;

    }
    .picture-technique{
        width: 100%;
        padding: 20px;
    }

    .picture-technique-perf{
        width: 100%;
    }